html,body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

body {
	text-align: center;
	overflow: hidden;
}

#container {
	border: 2px solid black;
	display: inline-block;
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
}

#canvas {
	width: 100%;
	height: 100%;

	background-image: url(../Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
}

#ringraziamenti {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 100%;
}

#menu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url(../Menu/Layer.png);
}

#batteria {
	display: inline;
	position: relative;
	left: 0px;
	top: 0px;
}

#controls {
	display: none;
	position: absolute;
	width: 100%;
	left: -50px;
	bottom: 0px;
	margin: 50px;
	text-align: center;
}

#progress {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 0px;
	height: 56px;
	background: #FDC613;
	border-radius: 3px;
}

#play {
	display: none;
	background: url(../Menu/Play.png);
	width: 180px;
	height: 185px;
}

#play:hover {
	background-image: url(../Menu/Play-Hover.png);
}

#header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 25.83%;

	background-image: url(../Header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
}

.gauge {
	border-radius: 2px;
	background-color: #FD6113;
	width: 100%;
	height: 100%;
}

#energy-bars {
	position: relative;
	left: 0px;
	bottom: 1.25%;
	width: 100%;
}

#energy-bars div.gauge {
	position: absolute;
	bottom: 0px;
	display: inline-block;
	border-radius: 4px;
	border: 2px solid white;
	width: 150px;
	height: 19px;

	background-color: transparent;
	background-image: url(../Menu/Gauge.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: content-box;
}

#energy-bars div.gauge:first-child {
	left: 1.25%;
}

#energy-bars div.gauge:last-child {
	right: 1.25%;
}