html,
body {
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

html {
	display: table;
}

body {
	display: table-cell;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;

	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
	color: white;
}

#container {
	border: 2px solid black;
	display: inline-block;
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: auto;
}

#canvas {
	width: 100%;
	height: 100%;

	background-image: url(../Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
}

#menu, #win-screen {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#menu {
	background-image: url(../Menu/Inizio.png), url(../Menu/Layer.png);
	background-repeat: no-repeat, repeat;
	background-position: 50% 25%, 50% 50%;
}

#win-screen {
	background-image: url(../Menu/Layer.png);
	background-repeat: repeat;
	background-position: 50% 50%;

	border: 0px;
	padding: 0px;

	display: none;
}

#win-screen div {
	display: table-cell;
	min-height: 100%;
	vertical-align: middle;
	margin: auto;
}

#win-screen img {
	width: 44%;
	height: 48%;
}

#win-screen blockquote {
	font-size: 1.25em;
	margin: 0px;
}

#win-screen blockquote + p {
	font-weight: normal;
	font-size: 0.85em;
	margin: 0px;
}

#win-screen #mindigno, #win-screen #canvace {
	position: absolute;
	bottom: 0px;
	margin: 0px;
}

#batteria {
	position: absolute;
	left: 50%;
	top: 60%;
	margin: -30px 0px 0px -157.5px;
}

#controls {
	display: none;
	position: absolute;
	width: 100%;
	left: -50px;
	bottom: 0px;
	margin: 50px;
	text-align: center;
}

#touch-areas {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

#touch-areas .center {
	width: 60%;
	background: url(../Menu/TouchCenter.png);
	vertical-align: bottom;
	padding-bottom: 1.5em;
}

#touch-areas .left,
#touch-areas .right {
	background: url(../Menu/TouchSide.png);
	vertical-align: middle;
}

#progress {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 0px;
	height: 56px;
	background: #FDC613;
	border-radius: 3px;
}

#play {
	display: none;
	background: url(../Menu/Play.png) no-repeat transparent;
	background-position: 0px 0px;
	background-size: 200% 100%;
	width: 22.5%;
	height: 30.83%;
	position: absolute;
	left: 50%;
	top: 60%;
	margin: -15.41% 0px 0px -11.25%;
}

#play:hover {
	background-position: -180px 0px;
}

#header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 25.83%;

	background-image: url(../Header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
}

.gauge {
	border-radius: 2px;
	background-color: #FD6113;
	width: 100%;
	height: 100%;
}

#energy-bars {
	display: none;
	position: relative;
	left: 0px;
	bottom: 1.25%;
	width: 100%;
}

#energy-bars div.gauge {
	position: absolute;
	bottom: 0px;
	display: inline-block;
	border-radius: 4px;
	border: 2px solid white;
	width: 150px;
	height: 19px;

	background-color: transparent;
	background-image: url(../Menu/Gauge.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: content-box;
}

#win-screen #mindigno,
#energy-bars div.gauge:first-child {
	left: 1.25%;
}

#win-screen #canvace,
#energy-bars div.gauge:last-child {
	right: 1.25%;
}
